# Compiled class file
*.class

# Log file
*.log

# BlueJ file
*.ctxt

# Mobile Tools for Java (J2ME)
*.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Idea file
.idea

# Allure Files
.allure
allure-results

# project iml
.finale_project.iml
