<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gsWrapper_tests" configfailurepolicy="continue">
    <test verbose="2" name="gsWrapper_tests" preserve-order="true" thread-count="1" parallel="methods">
        <classes>
            <class name="testCases.FirstTest"/>
        </classes>
    </test>
</suite>